<header class="header">
  <div class="explore-Gink">
    <img src="../../../assets/reading-icon.svg" id="header-icon">
    <h1 class="header-title">
      <a routerLink="/home" routerLinkActive="active">GinkStories</a>
    </h1>
    <a routerLink="/explore" routerLinkActive="active" class="explorar-button">Explorar
      <img src="../../../assets/compass.svg" id="explorar-button-icon">
    </a>
  </div>

  <nav class="header-nav">
    <ul class="header-ul">
      <li *ngIf="router.url !== '/login'">
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="router.url !== '/signup'">
        <a routerLink="/signup" routerLinkActive="active">Sign up</a>
      </li>
    </ul>
  </nav>
</header>
