<header>
  <!--imagem-->
  <h1>GinkStories</h1>
</header>

<section>
  <form action="">
    <label for="nameUser">Nome do usuário: </label>
    <input type="text" name="name" id="name" placeholder="Maria Joaquina de Aragão">
    <br>
    <label for="email">Insira seu Email</label>
    <input type="email" name="email" id="email" placeholder="example@gmail.com">
    <br>
    <label for="password">Insira sua senha</label>
    <input type="password" name="password" id="password" placeholder="*******">
    <br>
    <label for="confirmationPassword">Confirme sua senha</label>
    <input type="password" name="password" id="confirmationPassword" placeholder="*******">
  </form>
</section>

<section>
  <button type="button">Criar conta</button>
</section>

<footer>
  <a routerLink="/login" routerLinkActive="active">Já possui uma conta? Faça login</a>
</footer>
