<app-header></app-header>

<main>
  <div class="user">
    <div class="user-who">
      <img src="assets/image_test_feed_1.jpg">
      <p>Nome</p>
    </div>
    <div class="user-informations">
      <div class="users-content">
        <a>Obras</a>
        <p>5</p>
      </div>
      <div class="users-content">
        <a>Followers</a>
        <p>10</p>
      </div>
    </div>
  </div>

  <div class="works">
    <p>Obras Recentes</p>
    <div class="works-container">
      <div class="works-content">
        <img src="assets/image_test_feed_1.jpg">
      </div>
      <div class="works-content">
        <img src="assets/image_test_feed_1.jpg">
      </div>
      <div class="works-content">
        <img src="assets/image_test_feed_1.jpg">
      </div>
    </div>


  </div>

  <div class="works">
    <p>Obras Favoritas</p>

    <div class="works-container">
      <div class="works-content">
        <img src="assets/image_test_feed_1.jpg">
      </div>
      <div class="works-content">
        <img src="assets/image_test_feed_1.jpg">
      </div>
      <div class="works-content">
        <img src="assets/image_test_feed_1.jpg">
      </div>
    </div>
  </div>
</main>

