<app-header></app-header>
<section class="form">
  <div>
    <form action="">
      <label for="name">Nome do usuário: </label>
      <input type="text" name="name" id="name" placeholder="Maria Joaquina de Aragão">
      <br>
      <label for="email">Insira seu Email</label>
      <input type="email" name="email" id="email" placeholder="example@gmail.com">
      <br>
      <label for="password">Insira sua senha</label>
      <input type="password" name="password" id="password" placeholder="*******">
      <br>
      <label for="confirmationPassword">Confirme sua senha</label>
      <input type="password" name="password" id="confirmationPassword" placeholder="*******">
    </form>
  </div>

  <div>
    <button type="button">Criar conta</button>
  </div>
  <div>
    <a routerLink="/login" routerLinkActive="active">Já possui uma conta? Faça login</a>
  </div>
</section>


