<app-header></app-header>
<main>
  <section class="form">
    <div class="form-labelinput">
      <form action="">
        <div class="form-field">
          <label for="name">Nome Completo</label>
          <input type="text" name="name" id="name" placeholder="Ex: Maria Joaquina de Aragão">
        </div>
        <div class="form-field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="example@gmail.com">
        </div>
        <div class="form-field">
          <label for="password">Senha</label>
          <input type="password" name="password" id="password" placeholder="*******">
        </div>
        <div class="form-field">
          <label for="confirmationPassword">Confirme sua senha</label>
          <input type="password" name="password" id="confirmationPassword" placeholder="*******">
        </div>
      </form>
    </div>

    <div class="button">
      <button type="button">Criar conta</button>
    </div>
    <div class="options">
      <div class="option-link">
        <a routerLink="/login" routerLinkActive="active">Já tem uma conta? Faça login</a>
      </div>
    </div>
  </section>
</main>


