main{
  display: flex;
  justify-content: center;
  //margin-top: 6rem;

  .form {
    display: flex;
    padding: 1em;
    width: 30%;
    flex-direction: column;
    //background-color: #FFD940;
    border-radius: 0.5em;
    align-items: center;
    margin-top: 1em;


    .form-labelinput{
      margin-bottom: 1em;
      width: 70%;

      .form-field{
        margin: 1em;
        display: flex;
        flex-direction: column;

        label{
          margin: 0.5em 0
        }

        input{
          border-radius: 0.5em;
          padding: 0.5em;
          border: 2px;
          width: 95%;
        }

        .input-with-icon{
          display: flex;
          align-items: center;
          border-radius: 0.5em;
          padding: 0.5em;
          border: 2px solid;
          border-color: #FFE62D;
        }

        .alert{
          color: #dc3545;
          margin-top: 0.4em;
          border-left: 3px solid #dc3545;
          padding-left: 0.2em;
        }
      }
    }
    .button{
      display: flex;
      width: 100%;
      justify-content: center;
      button{
        width: 100%;
        margin: 0 1em ;
        padding: 0.5em;
        border-radius: 0.25rem;
        border: 0;
        background-color: #FFCC00;
        color: #000;
        font-weight: bold;
        font-size: 1em;
        opacity: 0.85;
        transition: 0.2s;

        &:hover{
          background-color: #FFE62D;
        }
      }
    }

    .options{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.5em;

      .option-link{
        margin-bottom: 0.5em;
        a {
          color: #000;
          font-weight: bold;
          font-size: 1em;
          opacity: 0.85;
          transition: 0.2s;

          &:hover {
            color: #FFCC00;
          }
        }
      }
    }

  }
}
