main {
  margin-top: 2rem;
}
.section-banner {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFCC00;

  .banner-text {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 5rem;
    margin-left: 1rem;
  }
  .banner-img img {
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 0.5%;
  }
}

.section-help {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 1.75rem;
  }

  .help-cards {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    .help-card {
      padding: 1rem;
      border-radius: 0.5rem;
      margin-right: 1rem;
      background-color: #f4f4f4;
      display: flex;
      width: 33%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1.25rem;
      }
      p {
        font-size: 1rem;
        text-align: center;
        width: 80%;
      }
    }
  }
}

.footer {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-bottom: 0;
  p {
    padding: 1rem;
    text-align: center;
  }
}

