<app-header></app-header>
<article class="story-content">
    <header class="info-historia">
        <img src="../../../assets/reading-book.png" class="capa-historia">
        <h1 class="titulo">Título</h1>
        <address class="autor">Autor</address>
        <a routerLink="/reading" routerLinkActive="active" class="ler-button">Ler</a>
    </header>
    <body>
        <p class="sinopse">Sinopse</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae neque nunc.
            Nulla pellentesque viverra augue, eget mollis quam volutpat vitae. Morbi pharetra ut diam in faucibus.
            Maecenas posuere, tortor in ullamcorper bibendum, lacus risus finibus tellus,
            condimentum venenatis nisi nibh vitae dui.
            Morbi lacus neque, tristique at sollicitudin at, finibus a velit.
            Nunc bibendum, urna sed aliquet congue, ipsum tortor interdum eros, ac placerat turpis felis et mi.
            Nullam maximus, dolor eu vehicula euismod,
            leo lectus vulputate dui, a dictum ligula metus consectetur lectus.
            In hac habitasse platea dictumst. Mauris semper laoreet varius.
            Suspendisse varius lobortis dui. Integer volutpat tempor ligula quis dapibus.
        </p>
    </body>
</article>

