main{
  display: flex;
}
.menu {
  display: flex;
  flex-direction: column;
  background: #FFE62D;
  width: 20rem;
  height: 100vh;
  border-radius: 0.15em;
  position: sticky;
  top: 0;

  .tittle {
    align-items: center;
    margin: 1em 0 0 1em;
    font-size: 85%;
  }
  .menu-content{

    margin-top: 1rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
    .story {
      display: flex;
      background: #f4f4f4;
      border-radius: 0.25em;
      flex-direction: column;
      margin: 1rem 0.5rem;
      padding: 0.5rem;
      &:hover {
        background: #EAEAEA;
        cursor: pointer;
      }
    }

  }
}

.home{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  .home-message {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    color: #757575;
    border-radius: 0.5em;
    p {
      font-size: 1rem;
      font-weight: 700;
      margin: 0.5rem;
    }
    a {
      color: #333;
      font-size: 1rem;
      font-weight: 700;
      margin: 0.5rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
