<app-header></app-header>
<main>
  <section class="menu">
    <div class="tittle">
      <h1>Ultimas histórias criadas</h1>
    </div>
    <div class="menu-content">
      <div class="story">
        <p>- Teste</p>
      </div>
      <div class="story">
        <p>- Teste2</p>
      </div>
      <div class="story">
        <p>- Teste3</p>
      </div>
    </div>
  </section>
  <section class="home">
    <app-feed></app-feed>
    <app-feed></app-feed>
    <app-feed></app-feed>
    <app-feed></app-feed>
    <div class="home-message">
      <p>Siga criadores para ver conteúdos!</p>
      <a routerLink="/explore" routerLinkActive="active">Acessar explorar para buscar histórias</a>
    </div>
  </section>


</main>
