<header class="header">
  <h1 class="header-title">
    <a routerLink="/home" routerLinkActive="active">GinkStories</a>
  </h1>
  <nav class="header-nav">
    <ul class="header-ul">
      <li>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li>
        <a routerLink="/register" routerLinkActive="active">Sign up</a>
      </li>
    </ul>
  </nav>
</header>
<main class="main">
  <section class="section-banner">
    <h2>Conte e compartilhe suas histórias</h2>
    <p>
      GinkStories é uma plataforma para você compartilhar suas histórias com o mundo.
      Seja uma história de ficção, real, ou até mesmo um poema, aqui você pode compartilhar
      com todos.
    </p>
    <!--IMAGEM-->

  </section>
  <section>
    <h2>Como funciona?</h2>
    <div>
      <h3>1. Cadastre-se</h3>
      <p>
        Crie uma conta em nossa plataforma para começar a compartilhar suas histórias.
      </p>
    </div>
    <div>
      <h3>2. Escreva</h3>
      <p>
        Escreva suas histórias diretamente em nossa plataforma. Você pode escrever quantas
        histórias quiser.
      </p>
    </div>
    <div>
      <h3>3. Compartilhe</h3>
      <p>
        Compartilhe suas histórias com o mundo. Você pode compartilhar suas histórias com
        todos ou apenas com seus amigos.
      </p>
    </div>
  </section>
</main>
<footer>
  <p>
    &copy; 2025 GinkStories
  </p>
</footer>
