main{
  display: flex;

}
.menu {
  display: flex;
  flex-direction: column;
  background: #FFE62D;
  width: 20rem;
  height: 100vh;
  border-radius: 0.5em;

  .tittle {
    align-items: center;
    margin: 1em 0 0 1em;
    font-size: 85%;
  }
  .field {
    background: #f4f4f4;
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 0.5em;
  }
  .field-message{
    margin:0.5em;
  }
}

.home{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  .home-message {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    color: #757575;
    border-radius: 0.5em;
    p {
      font-size: 1rem;
      font-weight: 700;
      margin: 0.5rem;
    }
    a {
      color: #333;
      font-size: 1rem;
      font-weight: 700;
      margin: 0.5rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
