<app-header></app-header>
<main class="main">
  <section class="section-banner">
    <div class="banner-text">
      <h2>Conte e compartilhe suas histórias</h2>
      <p>
        GinkStories é uma plataforma para você compartilhar suas histórias com o mundo.
        Seja uma história de ficção, real, ou até mesmo um poema, aqui você pode compartilhar
        com todos.
      </p>
    </div>
    <div class="banner-img">
      <img src="https://plus.unsplash.com/premium_photo-1669686965511-f292e7a12dbd?q=80&w=2652&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Banner" />
    </div>

  </section>
  <section class="section-help">
    <h2>Como funciona?</h2>
    <div class="help-cards">
      <div class="help-card">
        <h3>1. Cadastre-se</h3>
        <p>
          Crie uma conta em nossa plataforma para começar a compartilhar suas histórias.
        </p>
      </div>
      <div class="help-card">
        <h3>2. Escreva</h3>
        <p>
          Escreva suas histórias diretamente em nossa plataforma. Você pode escrever quantas
          histórias quiser.
        </p>
      </div>
      <div class="help-card">
        <h3>3. Compartilhe</h3>
        <p>
          Compartilhe suas histórias com o mundo. Você pode compartilhar suas histórias com
          todos ou apenas com seus amigos.
        </p>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <p>
    &copy; 2025 GinkStories
  </p>
</footer>
