<main>
  <section class="update">
    <div class="update-image">
      <img src="../../../assets/yellow-user.svg" alt="Imagem de usuário">
    </div>

    <div class="update-status">
      <p>User escreveu...</p>
    </div>
  </section>

  <section class="content">
      <div class="content-image">
        <img src="../../../assets/image_test_feed_1.jpg" alt="Imagem de teste">
      </div>

      <div class="content-field">
        <div class="content-tittle">
          <h3>Título bem maneiro</h3>
        </div>
        <div class="content-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida sapien eu magna ullamcorper, ut suscipit purus efficitur. Pellentesque fermentum lorem magna, ac fermentum metus viverra pharetra. Phasellus auctor ligula ipsum, sed malesuada nisi faucibus sed. Proin vitae sollicitudin mi. Donec id sapien varius, iaculis nulla quis, tristique sapien. Etiam ut accumsan velit. Mauris eleifend non urna tristique elementum. Nunc leo enim, scelerisque id lobortis vel, pulvinar non nunc.</p>
        </div>

      </div>
  </section>
</main>
