<main>
  <section class="update">
    <div class="update-image">
      <img src="../../../assets/yellow-user.svg">
    </div>

    <div class="update-status">
      <p>User escreveu...</p>
    </div>
  </section>

  <section class="content">
      <div class="content-image">
        <img ngSrc="../../../assets/feed-book.svg" height="100" width="100">
      </div>

      <div class="content-field">
        <div class="content-tittle">
          <h1>Título</h1>
        </div>
        <div class="content-description">
          <p>Descrição</p>
        </div>

      </div>
  </section>
</main>
