<header>
  <!--imagem-->
  <h1>GinkStories</h1>
</header>

<section>
  <form action="">
    <label for="email">Insira seu email</label>
    <input type="email" name="email" placeholder="example@gmail.com">
    <br>
    <label for="senha">Insira sua senha</label>
    <input type="password" name="password" placeholder="*******">
  </form>
</section>

<section>
  <button type="button">Entrar</button>
</section>

<footer>
  <a routerLink="/register" rounterLinkActive="active">Ainda não tem uma conta? Cadastre-se</a>
  <br>
  <a href="#">Esqueceu sua senha?</a>
</footer>
