<app-header></app-header>
<section class="form">
  <div>
    <form action="">
      <label for="email">Insira seu email</label>
      <input type="email" name="email" id="email" placeholder="example@gmail.com">
      <br>
      <label for="password">Insira sua senha</label>
      <input type="password" name="password" id="password" placeholder="*******">
    </form>
  </div>

  <div>
    <button type="button">Entrar</button>
  </div>
  <div>
    <a routerLink="/register" routerLinkActive="active">Ainda não tem uma conta? Cadastre-se</a>
    <br>
    <a href="#">Esqueceu sua senha?</a>
  </div>
</section>


