.capa-historia-card {
  background-color: #fff;
  padding: 0.25rem;
  max-width: 5rem;
  max-height: 5rem;

}

article{
  margin-inline: 4rem;
  background-color: #F4F4F4;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border: 0.2px solid #8e8e8e;
  border-radius: 0.25em;
  width: 20rem;
}

.info-historia-card {
  margin-left: 1.5rem;
}

.titulo-card {
  font-size: 1.5rem;
}

.autor-card {
  font-size: 1rem;
  font-weight: 400;

  a{
    text-decoration: none;
    color: #424242;
  }
}

.datas-card {
  font-size: 0.9rem;
}

.descricao-historia-card {
  margin-top: 0.5rem;
  background-color: #fff;
  padding: 0.6rem;
  border: 0.2px solid #8e8e8e;
  border-radius: 0.25em;
  height: 10rem;
  overflow: hidden; //colocar ´...´ ao final do texto
}
