<article>
  <img src="../../../assets/reading-book.png" class="capa-historia-card">
  <div class="info-historia-card">
    <h1 class="titulo-card">Título</h1> <!--colocar como link para a historia-->
    <address class="autor-card">
      <a routerLink="/user" routerLinkActive="active">Autor</a>
    </address>

    <time class="datas-card">Data de criação: dd/mm/yyyy</time>
    <div class="descricao-historia-card">
      <p class="sinopse-card">Sinopse</p> <!--colocar como div?-->
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae neque nunc.
        Nulla pellentesque viverra augue, eget mollis quam volutpat vitae. Morbi pharetra ut diam in faucibus.
        Maecenas posuere, tortor in ullamcorper bibendum, lacus risus finibus tellus,
        condimentum venenatis nisi nibh vitae dui.
        Morbi lacus neque, tristique at sollicitudin at, finibus a velit.
        Nunc bibendum, urna sed aliquet congue, ipsum tortor interdum eros, ac placerat turpis felis et mi.
        Nullam maximus, dolor eu vehicula euismod,
        leo lectus vulputate dui, a dictum ligula metus consectetur lectus.
        In hac habitasse platea dictumst. Mauris semper laoreet varius.
        Suspendisse varius lobortis dui. Integer volutpat tempor ligula quis dapibus.
      </p>
    </div>
  </div>
</article>
